*{
    margin: 0;
    padding: 0;
    list-style: none;
}
#div1{
    position: absolute;
    width: 80px;
    background-color: cornflowerblue;
    border: black 1px solid;
    display: none;
}
.contact{
    width: 800px;
    height: 800px;
    position: relative;
    background-color: darkgrey;
}
#div2{
    width: 200px;
    height: 200px;
    position: absolute;
    background-color: darkred;
}