 #div1 {
     width: 100px;
     height: 100px;
     background-color: gold;
     border: 1px solid;
     display: none;
 }

 #div2 {
     width: 100px;
     height: 100px;
     background-color: grey;
     border: 1px solid;
 }
 #div3 {
    width: 100px;
    height: 100px;
    background-color: grey;
    display:none;
}
body {
    background-color: rgb(74, 75, 32);
}
input {
    height: 100;
    width: 100;
    background-color: chartreuse;
}