#contact{
    position: relative;
    width: 1000px;
}
#div1{
    width: 200px;
    height: 200px;
    background-color: cyan;
    position: absolute;
    left: 500px;
}
#div2{
    width: 1px;
    height: 200px;
    background-color: black;
    position: absolute;
    left: 300px;
    top: 0;
}
#div3{
    width: 200px;
    height: 200px;
    background-color: rgb(163, 173, 74);
    position: absolute;
    left: 0px;
}
#div4{
    width: 100px;
    height: 150px;
    background-color: rgb(95, 23, 83);
    position: absolute;
    right: 0;
    bottom: 0;
}